*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* header section */
header{
background-image: url('../Assests/Banner\ Image.png');
width: 1200px;
margin: auto;
height: 500px;
background-repeat: no-repeat;
margin-top: 50px;
border-radius: 20px;
background-size: cover;
padding: 100px;
}

.header-text{
text-align: center;
padding-top: 200px;
}

.header-text h3{
    color: #fff;
    font-size: 25px;
}
.header-text h1{
    color: #fff;
    font-size: 45px;
}

/* header section end  */